
@{
    ViewBag.Title = "Player's List";
}

@section Header{
    @Html.ActionLink("Back", "Games", "Home", null, new { data_icon = "arrow-l", data_rel="back"})
    <h1>@ViewBag.Title</h1>
    <div data-role="navbar" data-iconpos="left">
    <ul>
        <li><a href="#" class="ui-btn-active" data-icon="grid">Team A</a></li>
        <li><a href="#" data-icon="grid">Team B</a></li>
    </ul>
</div>
}



